body {
  padding-top: 100px;
  background-color: #F0EFF0;
}
/* Start of Header */

/* Logo */

.logolog
{
  max-height: 60px;
}


/* Start of Sections */
/* ------------- */
/* ------------------ */
/* Image TOP */
.imgTOPimg
{
  max-width: 768px;
  width: 95%;
}
/* ------------------ */
/* Carousel */
.carousel-item
{
  max-height: 350px;
}
.carousel-item h1
{
  font-family: 'Archivo', sans-serif;
  font-size: 35px;
}
/* ------------------- */
/* ---------------------- */
/* Image SEPA */
.imgSEPAimg
{
  max-width: 600px;
  width: 90%;
}

.imgSEPAimg2
{
  max-width: 650px;
  width: 80%;
}
/* Carte Produit */
.titreProduit
{
  text-align: center;
  text-decoration: underline;
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
}

.card-body
{
  background-color: #grey;
  padding: 12px;
}
.card-title
{
  text-align: center;
  font-family: 'Archivo', sans-serif;
  text-decoration: underline;
  font-weight: bold;
}

.descriptionProduit
{
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Archivo', sans-serif;
}
